{{#if productos}}
<div class="contenedor-tienda">
    <div class="formBody-select-card">
        <label class="form-label h6 fw-bold" for="categ">Ordenar por:</label>
     <select name="ordenar" onchange="location = this.value">
        <option>Ordenar</option>
        <option value="/tienda/1">Precio menor a mayo</option>
        <option value="/tienda/2">Precio mayor a menor</option>
        <option value="/tienda/3">Nombre A-Z</option>
        <option value="/tienda/4">Nombre Z-A</option>
    </select>
    </div>

    




    <div class="row row-cols-1 row-cols-md-2 g-4 contenedor">

        {{#each productos }}
        <div class="row row-cols-1 row-cols-md-2 g-4 cardPdto">
            <div class="col">
                <div class="card h-100">
                    <img src="{{ imagen }}" class="card-img-top imgPdto" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"> {{ nombre }}</h5>
                        <p class="card-text">Código: {{ id }}</p>
                        <P class="card-text">Categoría: {{ categoria }}</P>
                        <p class="card-prize">Precio: $ {{ precio}}</p>
                    </div>
                    <form action="/cart" method="post">
                        <div class="agregarCarro" class="d-flex">
                            <input type="hidden" name="pdtoId" value="{{ id }}">
                            <button class="btn btn-primary" value="{{ id }}" name="btnAdd" id="btn-add">Agregar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
{{/if}}

{{#if prod}}
<div class="contenedor-tienda">
    <div class="contenedor-cat">
        {{#each categ}}
        <div class="divcontainer">
            <div class="div-img">
                <a href="/productos?categoria={{ id }}" class="link-imgCat">
                    <img src="{{ img }}" alt="">
                </a>
            </div>
            <div class="div-text">
                <h4>{{ categoria }}</h4>
                {{#each ../cantidad}}
                {{#if (eq categoria ../categoria)}}
                <p id="{{@index}}">{{cantidad}} productos</p>
                {{/if}}
                {{/each }}
            </div>
        </div>
        {{/each}}
    </div>

    <div class="row row-cols-1 row-cols-md-2 g-4 contenedor">
        {{#each prod}}

        <div class="row row-cols-1 row-cols-md-2 g-4 cardPdto">
            <div class="col">
                <div class="card h-100">
                    <img src="{{ foto }}" class="card-img-top imgPdto" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"> {{ nombre }}</h5>
                        <p class="card-text">Código: {{ id }}</p>
                        <P class="card-text">Categoría: {{ categoria_id }}</P>
                        <p class="card-prize">Precio: $ {{ precio}}</p>
                    </div>
                    <form action="/cart" method="post">
                        <div class="agregarCarro" class="d-flex">
                            <input type="hidden" name="pdtoId" value="{{ id }}">
                            <button class="btn btn-primary" value="{{ id }}" name="btnAdd" id="btn-add">Agregar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {{/each}}
    </div>


    {{!-- {{#if prod }} --}}
    <div class="cont-link-tiendaCat">
        <div class="link-tiendaCat">
            <a href='/tienda'>Ver todos los productos</a>
        </div>
    </div>
    {{/if}}
</div>