{{#if productos}}
{{#each productos }}

<div class="row row-cols-2 row-cols-md-3 g-4 cardPdto">
    <div class="col">
        <div class="card h-100">
            <img src="{{ imagen }}" class="card-img-top imgPdto" alt="...">
            <div class="card-body">
                <h5 class="card-title"> {{ nombre }}</h5>
                <p class="card-text">Código: {{ id }}</p>
                <P class="card-text">Categoría: {{ categoria }}</P>
                <p class="card-prize">Precio: $ {{ precio}}</p>
            </div>
            <form action="/cart" method="post">

                <div class="agregarCarro" class="d-flex">
                    <input type="hidden" name="pdtoId" value="{{ id }}">
                    <button class="btn btn-primary" value="{{ id }}" name="btnAdd" id="btn-add">Agregar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{{/each}}
{{/if}}

{{#if prod}}
{{#each prod}}
<div class="contenedor-prodCat">
    <div class="row row-cols-2 row-cols-md-3 g-4 cardPdto">
        <div class="col">
            <div class="card h-100">
                <img src="{{ foto }}" class="card-img-top imgPdto" alt="...">
                <div class="card-body">
                    <h5 class="card-title"> {{ nombre }}</h5>
                    <p class="card-text">Código: {{ id }}</p>
                    <P class="card-text">Categoría: {{ categoria_id }}</P>
                    <p class="card-prize">Precio: $ {{ precio}}</p>
                </div>
                <form action="/cart" method="post">

                    <div class="agregarCarro" class="d-flex">
                        <input type="hidden" name="pdtoId" value="{{ id }}">
                        <button class="btn btn-primary" value="{{ id }}" name="btnAdd" id="btn-add">Agregar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{/each}}
{{/if}}
{{#if prod }}
<div class="cont-link-tiendaCat">
<div class="link-tiendaCat">
    <a href='/tienda'>Ver todos los productos</a>
</div>
</div>
{{/if}}