<table class="table table-striped" id="tablaPdtos">
  <thead>
    <tr>
      <td>Id</td>
      <td>Nombre</td>
      <td>Precio</td>
      <td>Imagen</td>
      <td>Stock</td>
      <td>Categoría</td>
      <td>Eliminar</td>
    </tr>
  </thead>
  {{#each prod }}
  <tbody id="filasPdtos">
    <tr>
      <th>{{ id }}</th>
      <th><img src="{{ imagen }}" alt=""></th>
      <th>{{ nombre }}</th>
      <th>{{ precio }}</th>
      <th>{{ existencia }}</th>
      <th>{{ categoria }}</th>
      <form action="/adm/{{ id }}?_method=DELETE" method="post">
        {{!-- <th><button value={{ id }} id="delete" name="btnDelete" class="btn btn-secondary"
            onclick="return confirm('Está seguro que desea eliminar el producto?')">Eliminar</button></th> --}}
        <th><button id="delete" name="btnDelete" class="btn btn-secondary" onclick="confirmar(event, {{ id }})">Eliminar</button></th>
      </form>
    </tr>
  </tbody>
  {{/each}}
</table>

<script>
  function confirmar(event, id) { 
    event.preventDefault();
  Swal.fire({
    title: 'Está seguro que desea eliminar el producto?',
    icon: 'warning',
    showConfirmButton: true,
    showCancelButton: true,
    confirmButtonText: 'Aceptar',
    cancelButtonText: 'Cancelar'
  }).then((result) => {
    if (result.isConfirmed) {
      window.location = '/adm/' + id + '?_method=DELETE';
    }
  })
  }
</script>
{{!-- <div class="modal fade" id="staticBackdrop{{ id }}" data-bs-backdrop="static" data-bs-keyboard="false"
  tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Producto</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <tbody class="rowPdtoMod">
          <tr>
            <th>{{ id }}</th>
            <th>
              <input type="text" name="name" value="{{ nombre }}">
            </th>
            <th>
              <input type="text" name="prize" value="{{ precio }}">
            </th>
            <th>
              <img src="{{ imagen }}" id="imgModif">
            </th>
            <th>
              <input type="text" name="link" value="{{ imagen }}">
            </th>
            <th>
              <input type="text" name="stock" value="{{ existencia }}">
            </th>
        </tbody>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <form action="/modpdto/{{ id }}?_method=PUT" method="post">
          <th><button value="{{ id }}">Guardar cambios</button></th>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    // Obtener todos los botones con el atributo data-bs-toggle="modal"
    const editButtons = document.querySelectorAll('button[data-bs-toggle="modal"]');

    // Escuchar el evento click en cada botón editar
    editButtons.forEach(function (button) {
      button.addEventListener('click', function () {
        // Obtener el id del modal correspondiente al botón editar
        const modalId = button.getAttribute('data-bs-target');
        // Mostrar el modal
        const modal = new bootstrap.Modal(document.querySelector(modalId));
        modal.show();

        // Obtener los datos del producto correspondiente
        const row = this.closest('tr');
        const productoId = row.querySelector('th:first-child').textContent;
        const productoNombre = row.querySelector('th:nth-child(3)').textContent;
        const productoPrecio = row.querySelector('th:nth-child(4)').textContent;
        const productoImagen = row.querySelector('img').getAttribute('src');
        const productoExistencia = row.querySelector('th:last-child').textContent;

        // Rellenar los campos del formulario del modal con los datos del producto
        const modalForm = document.querySelector(modalId).querySelector('form');
        modalForm.querySelector('input[name="name"]').value = productoNombre;
        modalForm.querySelector('input[name="prize"]').value = productoPrecio;
        modalForm.querySelector('img[id="imgModif"]').setAttribute('src', productoImagen);
        modalForm.querySelector('input[name="link"]').value = productoImagen;
        modalForm.querySelector('input[name="stock"]').value = productoExistencia;

        // Configurar la acción del formulario del modal para que envíe una petición PUT
        modalForm.setAttribute('action', '/modpdto/' + productoId + '?_method=PUT');
      });
    });
  });
</script> --}}