<table class="table table-striped" id="tablaPdtos">
  <thead>
    <tr>
      <td>Id</td>
      <td>Nombre</td>
      <td>Precio</td>
      <td>Imagen</td>
      <td>Link</td>
      <td>Categoría Actual</td>
      <td>Categoría</td>
      <td>Stock</td>
      <td>Estado Actual</td>
      <td>Estado</td>
      <td>Editar</td>
    </tr>
  </thead>
  {{#each prod }}
  <tbody class="rowPdtoMod">
    <form action="/modpdto/{{ id }}?_method=PATCH" method="post" class="form-modif">
      <tr>
        <th>{{ id }}</th>
        <th>
          <input type="text" name="nombre" value="{{ nombre }}" class="inputModName">
        </th>
        <th>
          <input type="text" name="precio" value="{{ precio }}" class="inputMod">
        </th>
        <th>
          <img src="{{ imagen }}" id="imgModif">
        </th>
        <th>
          <textarea type="text" cols="30" rows="5" name="imagen" value="{{ imagen }}"
            class="inputModLink">{{ imagen }}</textarea>
        </th>
        <th>
          <p>{{ categoria }}</p>
        </th>
        <th>
          <select id="select-estadoMod" name="categoria_id">
            <option value="categoria">Categoria</option>
            {{#each ../categ }}
            <option value="{{ id }}">{{ categoria }}</option>
            {{/each }}
          </select>
        </th>
        <th>
          <input type="text" name="existencia" value="{{ existencia }}">
        </th>
        <th>
          <p>{{ estadoDesc }}</p>
        </th>
        <th>
          <select id="select-estadoMod" name="id_estado">
            <option value="estado">Estado</option>
            {{#each ../estados }}
            <option value="{{ id }}">{{ descripcion }}</option>
            {{/each }}
          </select>
        </th>

        <th><button type="submit" value="{{ id }}" class="btn btn-secondary" name="btnEdit">Editar</button></th>
    </form>
    </tr>
  </tbody>
  {{/each}}
</table>

<script>
  const forms = document.querySelectorAll('.form-modif');

  forms.forEach((form) => {
    form.addEventListener('submit', (e) => {
      e.preventDefault();
      Swal.fire({
        title: 'Estás seguro que quieres modificar este producto?',
        icon: 'warning',
        showConfirmButton: true,
        showCancelButton: true,
        confirmButtonText: 'Sí',
        cancelButtonText: 'No'
      }).then((result) => {
        if (result.isConfirmed) {
          form.submit();
          Swal.fire({
            title: 'Producto modificado con éxito',
            icon: 'success',
            showCancelButton: false,
            showConfirmButton: false,
            timer: 5000
          });
        }
      });
    });
  });
</script>