{{#> template}}

<main>
    {{#if canasta }}
    <div class="cartTable">
        <h4 id="cart-title">Canasta de compras</h4>
        <table class="cart">
            <thead class="thead-cart">
                <tr id="headTitleCart">
                    <th>ID</th>
                    <th>Imagen</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Subtotal</th>
                    <th>Acciones</th>
                </tr>
            </thead>

            {{#each canasta }}
            <tbody>
                <tr class="table-row">
                    <td> {{ id }}</td>
                    <td><img src="{{foto}}" alt="" id="img-cart"></td>
                    <td>{{ nombre }}</td>
                    <td id="precioPdto_{{ id }}" name="prize">{{ precio}}</td>
                    <form action="/cart/updateCant" method="post">
                        <td id="cantPdto">
                            <button class="btn btn-info bton-card" id="btn-minus" name="btnMinus"
                                value="{{ id }}">-</button>
                            <p class="mb-0 mt-2 align-self:center cantProdDisplay" id="cant_{{ id }}">{{ cant }}</p>
                            <button class="btn btn-info bton-card" id="btn-plus" name="addOne"
                                value="{{ id }}">+</button>
                        </td>
                        <td class="subtotalPdto_{{ id }}">{{ subtotal }}</td>
                    </form>
                    <td>
                        <form action="/cart/{{ id}}?_method=DELETE" method="post">
                            <input type="hidden" name="id">
                            <button class="trash-btn" id="{{ id }}"></button>
                        </form>
                    </td>
                </tr>
            </tbody>
            {{/each}}
        </table>
        <div class="tNet-cart">
            <span colspan="4" class="tNeto-cart">Total Neto: {{ totalNeto }}</span>
        </div>
        <div class="iva-cart">
            <span colspan="4" class="iva-cart">IVA: {{ iva }}</span>
        </div>
        <div class="tBruto-cart">
            <span colspan="4" class="tBruto-cart">Total Bruto: {{ totalBruto }}</span>
        </div>
        <div class="envio-cart">
            <span colspan="4" class="envio-cart">Gasto Envío: {{ envio }}</span>
        </div>
        <div class="total-cart">
            <span colspan="4" class="total-cart">Total Final: {{ totalFinal }}</span>
        </div>

        <div class="botones-cart">
            <form action="/cart/?_method=DELETE" method="post">
                <button class="btn btn-primary" name="vaciar">Vaciar</button>
            </form>
            
            {{#each canasta}}
            <input type="hidden" name="idPdto" value="{{ id }}"></input>
            <input type="hidden" name="cantPdto" value="{{ cant }}"></input>
            <input type="hidden" name="precioPdto" value="{{ precio }}"></input>
            {{/each}}
            <form action="/compra" method="post">
            <input type="hidden" name="totalFinal" value="{{ totalFinal }}"></input>
            <button class="btn btn-primary" value="{{ totalFinal }}" name="compras">COMPRAR</button>
            </form>
        </div>
        <div class="link-tienda">
            <a href='/tienda'>Volver a comprar</a>
        </div>
    </div>
    {{else}}
    <h2>Su carro de compras está vacío</h2>
    {{/if}}
</main>

{{/template}}